.course-image img:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
     transform: scale(1.1);
     transition: 2s;
}
.back {
    background-color: rgb(167, 160, 221);
    color: black;
    text-align: center;
    font-size: 25px;
    padding: 15px;     
}
body {
    font-family: Arial;
}
.section-container{
    height: 450px;
    background-color: rgb(167, 160, 221);
    color: black;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr; 
    padding: 15px;
}
.section-title {
    font-size: 20px;
    margin-bottom: 15px;
}
.section-title~div {
    margin-bottom: 10px;
}
.one {
    font-size: 80px;
    color: yellow;
    text-align: justify;
}
.two {
    font-size: 80px;
    color: red;
    text-align: justify;
}
.three {
    font-size: 80px;
    color: green;
    text-align: justify;
}
.four {
    font-size: 80px;
    color: blue;
    text-align: justify;
}
.q1 {
    text-align: center;
}
.student {
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
    background-color: tan ;
    padding: 20px;
}
.student-container {
    display: flex;
    height: 250px;
    background-color: tan;
    color: black;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr; 
    padding: 15px
    
}
.job1 {
    text-align: center;
    background-color: tan;
    padding: 20px;
    font-size: 12px;
}  
h5 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;

}  
.card-img {
    margin-top: 30px;
}
.card-title {
    font-weight: bold;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 20px;
}
.card-text {
    font-style: italic;
}
.services {
    display: flex;
}
.services1 {
    box-shadow: 2px 5px 8px 12px rgb(84, 82, 82);
    margin-left: 80px;
    margin-right: 80px;               
}
.services2 {
    box-shadow: 2px 5px 8px 12px rgb(84, 82, 82);
    margin-left: 80px;
    margin-right: 80px;
}
.services3 {
    box-shadow: 2px 5px 8px 12px rgb(84, 82, 82);
    margin-left: 80px;
    margin-right: 80px;
}
.footer {
    padding: 30px;
}
.footer li {
    padding: 8px;
}
body {                
    box-shadow: 2px 5px 8px 12px rgb(84, 82, 82);
}
.table-row {
    background-color: rgb(161, 171, 116);
}
.d1 {
    font-weight: bold;
    color: cornflowerblue;
}
h12 {
    font-size: 18px;
}
.h13 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.contact-info{
    margin-top: 40px;
    margin-bottom: 45px;
}
.contact-info li{
    padding: 8px;
    margin-left: 80px;

}
.logform {
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex; 
}
.log-f {
    box-shadow: 0px 3px 9px 12px gray;
}
.img1 {
    margin-top: 55px;
     margin-left: 120px;
}

h3 {
    text-shadow: 2px 4px 6px grey;
    font-weight: bold;
    font-size: 22px;
}
.regform {
    margin-top: 60px;
}
.img2 :hover {
  
    transition: 1s;
    height: 155px;
    width: 155px;    
}
.img2 {
    margin-top: 50px;
     margin-left: 100px;
}
.terms {
    font-weight: bold;
    color: cornflowerblue;
    font-size: 25px;
}
.img3 {
    margin-top: 50px;
    margin-left: 100px;
}
.img3 :hover {
    transition: 1s;
    height: 122px;
    width: 122px;
}
.course {
    font-weight: bold;
}
h14 {
    font-size: 20px;
    font-weight: bold;    
}


